# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
logs_mock/
*.log
*.csv

# Entornos virtuales
venv/
.env

# Archivos LaTeX (bitácoras, documentos temporales)
*.tex

# Archivos de estado temporal
hv_state.json
